<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Dustin Miller's weblog">
    <meta property="og:image" content="https://stonks.win/stonks.gif">
    <meta property="og:title" content="Dustin Miller's weblog">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dustinmiller.win">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48dGV4dCB5PSIuOWVtIiBmb250LXNpemU9IjkwIj7wn5OIPC90ZXh0Pjwvc3ZnPg==">
    <style>
    {{load_data(path="static/styles.css") | indent | safe }}
    </style>
    {%- block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {%- endblock %}
  </head>
<!--
▓█████▄  █    ██   ██████ ▄▄▄█████▓ ██▓ ███▄    █     ███▄ ▄███▓ ██▓ ██▓     ██▓    ▓█████  ██▀███
▒██▀ ██▌ ██  ▓██▒▒██    ▒ ▓  ██▒ ▓▒▓██▒ ██ ▀█   █    ▓██▒▀█▀ ██▒▓██▒▓██▒    ▓██▒    ▓█   ▀ ▓██ ▒ ██▒
░██   █▌▓██  ▒██░░ ▓██▄   ▒ ▓██░ ▒░▒██▒▓██  ▀█ ██▒   ▓██    ▓██░▒██▒▒██░    ▒██░    ▒███   ▓██ ░▄█ ▒
░▓█▄   ▌▓▓█  ░██░  ▒   ██▒░ ▓██▓ ░ ░██░▓██▒  ▐▌██▒   ▒██    ▒██ ░██░▒██░    ▒██░    ▒▓█  ▄ ▒██▀▀█▄
░▒████▓ ▒▒█████▓ ▒██████▒▒  ▒██▒ ░ ░██░▒██░   ▓██░   ▒██▒   ░██▒░██░░██████▒░██████▒░▒████▒░██▓ ▒██▒
▒▒▓  ▒ ░▒▓▒ ▒ ▒ ▒ ▒▓▒ ▒ ░  ▒ ░░   ░▓  ░ ▒░   ▒ ▒    ░ ▒░   ░  ░░▓  ░ ▒░▓  ░░ ▒░▓  ░░░ ▒░ ░░ ▒▓ ░▒▓░
░ ▒  ▒ ░░▒░ ░ ░ ░ ░▒  ░ ░    ░     ▒ ░░ ░░   ░ ▒░   ░  ░      ░ ▒ ░░ ░ ▒  ░░ ░ ▒  ░ ░ ░  ░  ░▒ ░ ▒░
░ ░  ░  ░░░ ░ ░ ░  ░  ░    ░       ▒ ░   ░   ░ ░    ░      ░    ▒ ░  ░ ░     ░ ░      ░     ░░   ░
░       ░           ░            ░           ░           ░    ░      ░  ░    ░  ░   ░  ░   ░
░                                                                                         (2025)-->
<body>
  <header>
      <h1>{{ config.title }}</h1>
      <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/blog">Blog</a>
          <a href="/contact">Contact</a>
      </nav>
  </header>
  <main>
      {%- block content %} {%- endblock %}
  </main>
  <footer class="footer">
    <div class="social-links">
        <a href="https://www.linkedin.com/in/dustinm" target="_blank" rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 30 30">
              <path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"></path>
          </svg>
        </a>
        <a href="mailto:dustin.miller@gmail.com" target="_blank" rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 20 20">
                <path d="M2.003 5.884 10 9.882l7.997-3.998A2 2 0 0 0 16 4H4a2 2 0 0 0-1.997 1.884z"></path>
                <path d="m18 8.118-8 4-8-4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8.118z"></path>
          </svg>
        </a>
        <a href="https://github.com/dustinmiller" target="_blank" rel="noopener noreferrer">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 25 25">
                <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
          </svg>
        <a href="https://dustinmiller.win/atom.xml" target="_blank" rel="noopener noreferrer">
          <svg class="svg-icon" x="0px" y="0px" width="32" height="32" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M319.68 607.92a80 80 0 1 0 0 160 80 80 0 0 0 0-160zM240 417.168v80C384 497.152 510.464 624 510.464 768h80C590.464 576 432 417.168 240 417.168z m0-177.248v80C480 319.92 687.696 528 687.696 768h80C767.696 480 528 239.92 240 239.92zM776 96h-544A136 136 0 0 0 96 232v544a136 136 0 0 0 136 136h544a136 136 0 0 0 136-136v-544A136 136 0 0 0 776 96zM832 776a56 56 0 0 1-56 56h-544a56 56 0 0 1-56-56v-544a56 56 0 0 1 56-56h544a56 56 0 0 1 56 56v544z" fill="#565D64" />
          </svg>
        </a>
        &copy; {{ now() | date(format="%Y") }} {{ config.extra.author }}
    </div>
    <button class="dark-mode-toggle" id="toggle-theme">🌓</button>
  </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const toggleButton = document.getElementById('toggle-theme');
        const body = document.body;

        toggleButton.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            document.querySelectorAll('header, footer, button').forEach(el => {
                el.classList.toggle('dark-mode');
            });
        });
    });
</script>
</html>
